<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Analisa Standar Belanja</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Presento - v3.7.0
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body >

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <!-- <h1 class="logo me-auto"><a href="index.html">ASB</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="index.html" class="logo me-auto"><img src="assets/img/asb_landak.png" alt=""  style="margin:-15px 0 ;max-height: 60px !important;" ></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Tentang</a></li>
          <li><a class="nav-link scrollto" href="#services">Simulasi</a></li>
          <li><a class="nav-link scrollto" href="#team">Download</a></li>
          <li><a class="nav-link scrollto" href="#contact">Kontak</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#about" class="get-started-btn scrollto">Login</a>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1 style="padding-bottom:25px;margin-bottom:25px;border-bottom: 5px solid #68A7AD; display: inline-block;font-size:50px">ASB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
          <h2>Analisis Standar Belanja</h2>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients" style="padding:40px 0 0px 0 !important">
      <div class="container" data-aos="zoom-in">

        <h1>Tentang Kami</h1>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-6 d-flex align-items-stretch">
            <div class="content">
              <h5>Ditujukan untuk Perangkat Daerah Kabupaten Landak, dengan tujuan menilai kewajaran atas beban kerja dan biaya yang digunakan untuk melaksanakan suatu kegiatan.</h5>
              <p>&nbsp;</p>
              <p style="font-size: 15px;">
                Dalam penyusunan RKA Perangkat Daerah, setiap objek belanja harus didasarkan atas aturan tertulis yang ditetapkan oleh pejabat yang berwenang, baik kode rekening, susunan belanja, maupun harga barang dan jasa yang akan diadakan. SSHBJ adalah salah satu instrumen yang dapat membantu untuk mengukur harga wajar suatu barang/jasa yang akan dibeli, sedangkan ASB adalah salah satu alat untuk mengukur harga wajar sebuah kegiatan.
              </p>
              <a href="#" class="about-btn"><span>Login</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-6 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>MUDAH DIGUNAKAN</h4>
                  <p>Tampilan yang sederhana memudahkan penggunaan.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-timer"></i>
                  <h4>CEPAT                  </h4>
                  <p>Hanya dengan beberapa klik Anda bisa menggunakan ASB. </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-calculator"></i>
                  <h4>TERUKUR</h4>
                  <p>Berdasarkan target kinerja yang ditetapkan Perangkat Daerah</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-printer"></i>
                  <h4>CETAK</h4>
                  <p>Hasil analisis dapat dicetak langsung melalui web.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts" style="padding:40px 0 0px 0 !important">
      <div class="container" data-aos="fade-up">

        <h1>Simulasi Aplikasi ASB</h1>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg text-dark" >
      <div class="container" >
            <div class="card">
              <div class="card-header">
                <div class="p-1">PILIH ASB</div> 
                <div style="clear:both"></div>
                <select class="form-select" ref="asb" v-model="select_asb" @change="onChangeAsb($event)" aria-label="Default select example">
                  <option value="0" selected>-Pilih-</option>
                  <option v-for="option in kategori_belanja" :value="option.id_kategori_belanja">{{option.kode_kategori_belanja}} | {{option.nama_kategori_belanja}}</option>
                </select>
              </div>
            </div>
            <div class="card mt-4">
              <div class="card-body">
                <h2 class="card-title" >{{kode_kategori_belanja}} {{nama_kategori_belanja}}</h2>
                <hr>
                <p><strong>Deskripsi :</strong></p>
                <hr>
                <p class="textindent">{{deskripsi}}</p>
                <hr>
                <p><strong>Pengendali Belanja (Cost Driver) :</strong></p>
                <hr>
                <p class="textindent">{{cost_driver}}</p>
                <hr>
                <p><strong>Satuan Pengendali belanja Tetap (Fixed Cost) :</strong></p>
                <hr>
                <p class="textindent">Rp {{numberWithCommas(fixed_cost)}} per Kegiatan</p>
                <hr>
                <p><strong>Satuan Pengendali belanja variabel (Variable Cost) :</strong></p>
                <hr>
                <p class="textindent" v-html="variable_cost"></p>
                <hr>
                <p><strong>Rumus Penghitungan Belanja Total :</strong></p>
                <hr>
                <!-- <p class="textindent">{{rumus_total}}</p> -->
                <p>Belanja Tetap + Belanja Variable</p>
                <table class=" table text-center">
                          <tbody>
                            <tr>
                              <td width="5%"></td>
                              <td> = </td>
                              <td>Rp. {{ numberWithCommas(fixed_cost)}}</td>
                              <td>+</td>
                              <td>(</td>
                              <td class="kolomVariableCost"><label class="rp" style="display: none;">Rp.</label> <label class="variableCost">Variable Cost</label></td>
                              <td> X </td>
                              <td class="costDriver0">{{cost_driver}}</td>
                              <td id="xatas" style="display: none;"> X </td>
                              <td id="cdakhir" class="costDriver1" style="display: none;"></td>
                              <td>)</td>
                          </tr>
                          <tr>
                              <td width="5%"></td>
                              <td> = </td>
                              <td>Rp. {{ numberWithCommas(fixed_cost)}}</td>
                              <td>+</td>
                              <td>(</td>
                              <td class="kolomVariableCost"><label class="rp" style="display: none;">Rp.</label> <label class="variableCost">{{numberWithCommas(var_cost)}}</label></td>
                              <td> X </td>
                              <td id="inputa"><input id="a"  v-on:keyup="setVarCost()" v-model='nilai_konstruksi' class="text-center" type="text"></td>
                              <td id="xinputb" style="display: none;"> X </td>
                              <td id="inputb" style="display: none;"><input id="b" class="text-center" type="text"></td>
                              <td>)</td>
                          </tr>

                      </tbody>
                    </table>
                <p> = {{belanja_total}}</p>
                <hr>
                <table id="list_jenis" class="table table-bordered table-responsive table-striped">
                    <thead>
                    <tr>
                        <th class="no-sort text-center" style="vertical-align: middle;" width="5%">No</th>
                        <th class="no-sort center" style="vertical-align: middle;">Objek Belanja</th>
                        <th colspan="2" class="no-sort text-center" style="vertical-align: middle;" width="20%">Rata-rata</th>
                        <th colspan="2" class="no-sort text-center" style="vertical-align: middle;" width="20%">Batas Bawah</th>
                        <th colspan="2" class="no-sort text-center" style="vertical-align: middle;" width="20%">Batas Maksimal</th>
                    </tr>

                    </thead>
                    <tbody id="tableBatasAlokasi">
                    <tr>
                        <td class="no-sort text-center" style="padding: 3px 0;">1</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">2</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">3</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">4</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">5</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">6</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">7</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">8</td>
                    </tr>
                    <tr v-for="(rs, index) in data_table" key="index">
                        <td class="no-sort text-center" style="padding: 3px 0;">{{index+2}}</td>
                        <td class="no-sort text-left" style="padding: 3px 0;">{{rs.objek_belanja}}</td>
                        <td class="no-sort text-center" style="padding: 3px 0;width:30px">Rp</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">{{rs.rata_rata}}</td>
                        <td class="no-sort text-center" style="padding: 3px 0;width:30px">Rp</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">{{rs.batas_bawah}}</td>
                        <td class="no-sort text-center" style="padding: 3px 0;width:30px">Rp</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">{{ rs.batas_maksimal}}</td>
                    </tr>   
                    <tr v-if='dataslength>0'>
                        <td class="no-sort text-center" colspan=2 style="padding: 3px 0;">Jumlah</td>
                        <td class="no-sort text-center" style="padding: 3px 0;width:30px">Rp</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">{{jrata}}</td>
                        <td class="no-sort text-center" style="padding: 3px 0;width:30px">Rp</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">{{jbawah}}</td>
                        <td class="no-sort text-center" style="padding: 3px 0;width:30px">Rp</td>
                        <td class="no-sort text-center" style="padding: 3px 0;">{{ jatas}}</td>
                    </tr>
                                     <!--                                    table akan ditambahkan disini-->
                    </tbody>
                </table>
                <div class="text-center w-100"><button class="btn btn-secondary btn-sm " @click="sinkronData()"><span>Sinkronisasi Objek Belanja </span> <i class="bx bx-refresh"></i> </button></div>
              </div>
              <div class="card-footer text-end">
                  <button class="btn btn-secondary mr-2 " ><span>Reset</span> </button>
                  <button class="btn btn-primary " onclick="printPdf()" ><span>Simpan</span> </button>
              </div>
            </div>

      </div>
    </section><!-- End Services Section -->
    <!-- Modal -->
    <div class="modal fade" id="addItem" tabindex="-1" aria-labelledby="addItemLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addItemLabel">Tambah Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class='col-6'>
                <div class='form-group mb-3'>
                <label>Objek Belanja</label>
                <select class="form-select" ref="asb" v-model="select_item" @change="onChangeItem($event)" aria-label="Default select example">
                  <option value="0" selected>-Pilih-</option>
                  <option v-for="option in standar_belanja" :value="option.id_standar_belanja">{{option.kode_standar_belanja}} | {{option.nama_standar_belanja}}</option>
                </select>
                </div>
              </div>
              <div class='col-6'>
                <div class='form-group mb-3'>
                <label>Rekening</label>
                <input type="text" name="" v-model='rekening' class="form-control" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class='col-6'>
                <div class='form-group mb-3'>
                <label>Rencana Alokasi</label>
                <input type="text" name="" v-model='rencana_alokasi' v-on:keyup="setNilai()"  class="form-control"
                  >
                </div> 
              </div>
              <div class='col-6'>
                <div class='form-group mb-3'>
                <label>Rata-Rata</label>
                <input type="text" name="" v-model='item_rata_rata' class="form-control" 
                readonly></div>
              </div>
            </div>
            <div class="row">
              <div class='col-6'>
                <div class='form-group mb-3'>
                <label>Batas Bawah</label>
                  <input type="text" name="" v-model='item_batas_bawah' class="form-control" 
                  readonly>
                </div>
              </div>
              <div class='col-6'>
                <div class='form-group mb-3'>
                  <label>Batas Maksimal/Atas</label>
                  <input type="text" name="" v-model='item_batas_maksimal' class="form-control" 
                  readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            <button type="button" click="printPdf()" class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>DOWNLOAD DOKUMEN</h2>
          <p>Download dokumen yang berkaitan dengan Pemerintah Kabupaten Landak</p>
        </div>


      </div>
    </section><!-- End Team Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>ASB<span>.</span></h3>
            <p>
              Jln Ahmad Yani <br>
              Pontianak, Kalbar, 78116<br>
              Indonesia <br><br>
              <strong>Phone:</strong> +62 812 55488 55<br>
              <strong>Email:</strong> info@asblandak.com<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tentang</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Simulasi</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Download</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Kontak</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pemprov Kalbar</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pemkab Landak</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bappeda Kalbar</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Bappeda Landak</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright 2022 <strong><span>ASB Pemerintah Kabupaten Landak</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
        </div>
      </div>
      <div class="social-links text-center text-md-end pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" integrity="sha512-YcsIPGdhPK4P/uRW6/sruonlYj+Q7UHWeKfTAkBW+g83NKM+jMJFJ4iAPfSnVp7BKD4dKMHmVSvICUbE/V1sSw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://unpkg.com/tableexport@5.2.0/dist/js/tableexport.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/tableexport@5.2.0/dist/css/tableexport.min.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-snack/dist/vue-snack.min.css">  
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-snack/dist/vue-snack.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
  function printPdfx(){
    // var opt = {
    //     margin: [10, 10, 20, 10],
    //     filename: 'batas_alokasi.pdf',
    //     image: {type: 'jpeg', quality: 1},
    //     html2canvas: {dpi: 192, letterRendering: true},
    //     jsPDF: {unit: 'mm', format: 'letter', orientation: 'portrait'},
    // };
    // var element = document.getElementById('list_jenis');
    // html2pdf().set(opt).from(element).toPdf().save();

    // new TableExport(document.getElementById("list_jenis"));
    $("#list_jenis").tblToExcel({
      exclude:".noExl",
      name:"Worksheet Name",
      filename:"SomeFile",
      fileext:".xls",
      preserveColors:true
    });


  }  
    const url = "http://139.180.219.157/asb/api/public/index.php/kategori_belanja/?key=$2y$10$AnZ411EfYcBHTEMMYbXni.7HuKm5nf4fCleVEKMPs9dsDRKlrLCPu";
    
  let datas = [];
  new Vue({
    el: "#main",
    data: {
      dataslength : 0,
      standar_belanja: [],
      kategori_belanja: [],
      var_cost : "0",
      select_asb:"0",
      select_item:"0",
      deskripsi : " - Loading...",
      cost_driver : " - Loading...",
      fixed_cost : 0,
      variable_cost : " - Loading...",
      rumus_total : " - Loading...",
      nama_standar_belanja : "Loading...",
      kode_standar_belanja: "",
      kode_kategori_belanja: "",
      nama_kategori_belanja: "",
      belanja_total : "0",
      belanja_total_numb : 0,
      nilai_konstruksi : 0,
      jrata : 0,
      jbawah : 0,
      jatas : 0,
      lastno : 2,
      rekening : "",
      objek_belanja : "",
      rata_rata : "",
      item_rata_rata : "",
      batas_maksimal : "",
      item_batas_maksimal : "",
      batas_bawah : "",
      item_batas_bawah : "",
      rencana_alokasi : "",
      data_table:[],
    },
    mounted() {
      axios.get(url).then(response => {
        // alert(response.data);
        this.kategori_belanja = response.data
      });
      // this.data_table = JSON.parse(localStorage.getItem('asb_batas_anggaran_kegiatan'));
    },
    methods: {
        setNilai(event) {
          
          // this.rencana_alokasi = this.numberWithCommas(+this.rencana_alokasi);
        },
        sinkronData(){
          if(this.belanja_total_numb>0){
            var apx = this;
            datas = [];
              const url2 = "http://139.180.219.157/asb/api/public/index.php/get_standar_belanja/"+this.select_asb+"?key=$2y$10$AnZ411EfYcBHTEMMYbXni.7HuKm5nf4fCleVEKMPs9dsDRKlrLCPu";
              var alokasi = this.belanja_total_numb;
              axios.get(url2).then(response => {
                var i = 2;
                var dts = response.data;
                var jr = 0;
                var jb = 0;
                var ja = 0;
                
                dts.forEach(function(rs, index) {      
                    var rata = +alokasi * +rs.rata_rata / 100;
                    var bawah = +alokasi * +rs.batas_bawah / 100;
                    var maksimal = +alokasi * +rs.batas_atas / 100;
                       const datax = {
                        no: i++,
                        // kode_objek_belanja: rs.kode_standar_belanja,
                        objek_belanja: rs.nama_standar_belanja,
                        rata_rata: apx.numberWithCommas(rata),
                        batas_maksimal: apx.numberWithCommas(maksimal),
                        batas_bawah: apx.numberWithCommas(bawah),
                      };
                      datas.push(datax);
                      jr += rata;
                      jb += bawah;
                      ja += maksimal;
                });
                this.jrata = apx.numberWithCommas(jr);
                this.jbawah = apx.numberWithCommas(jb);
                this.jatas = apx.numberWithCommas(ja);
                // alert(JSON.stringify(response.data));
                    this.data_table = datas;
                    this.dataslength = i - 2;
                
              });
          }
          else{
            alert("Warning! Silahkan lengkapi total belanja terlebih dahulu");
          }
          
        },
        setVarCost(event) {
          var varcost = this.nilai_konstruksi;
          // if(varcost.length>0){
            // alert(varcost+" "+this.select_asb);
            const urlvarcost = "http://139.180.219.157/asb/api/public/index.php/get_var_cost/"+this.select_asb+"/"+varcost+".?key=$2y$10$AnZ411EfYcBHTEMMYbXni.7HuKm5nf4fCleVEKMPs9dsDRKlrLCPu";
            axios.get(urlvarcost).then(response => {
              // alert(response.data);
              var vc = this.var_cost ??"0";
              var fc = this.fixed_cost;
              var total =+vc * +varcost;
              var total2 = +total + +this.fixed_cost
              // alert(total);
              this.belanja_total = this.numberWithCommas(+total2);
              this.belanja_total_numb = +total2;
              // alert(this.be);
            })  
          // }
          
        },
        saveData(){

          // const data = {
          //   no: this.lastno,
          //   kode_objek_belanja: this.kode_objek_belanja,
          //   objek_belanja: this.objek_belanja,
          //   rata_rata: this.item_rata_rata,
          //   batas_maksimal: this.item_batas_maksimal,
          //   rencana_alokasi: this.rencana_alokasi,
          // };

          // alert(data);
          if(this.nama_standar_belanja!='Loading...'){
              var index = datas.findIndex(x => x.objek_belanja==this.nama_standar_belanja); 
              if(index === -1 ){
                datas.push(data);
              localStorage.setItem("asb_batas_anggaran_kegiatan", JSON.stringify(this.datas));
              this.data_table = datas;
              this.var_cost = "0";
              this.belanja_total = "0";
              }
              else{
                alert("Warning! Data yang disimpan sudah ada");
              }  
          }
          else{
            alert("Warning! Silahkan pilih Data Standar Belanja terlebih dahulu");
            this.$refs.asb.$el.focus();

          }
          

          // alert(JSON.stringify(datas));
        },
        numberWithCommas(x) {
          
          return new Intl.NumberFormat('ID', { maximumFractionDigits: 2 }).format(x);
        },
        onChangeAsb(event) {
          const url2 = "http://139.180.219.157/asb/api/public/index.php/edit_kategori_belanja/"+this.select_asb+"?key=$2y$10$AnZ411EfYcBHTEMMYbXni.7HuKm5nf4fCleVEKMPs9dsDRKlrLCPu";
            axios.get(url2).then(response => {
              // alert(response-.data);
              this.kode_kategori_belanja = response.data.kode_kategori_belanja ?? "-";
              this.nama_kategori_belanja = response.data.nama_kategori_belanja ?? "-";
              this.deskripsi = response.data.deskripsi ?? "-";
              this.cost_driver = response.data.cost_driver ?? "-";
              this.fixed_cost = response.data.fixed_cost ?? "0";
              this.variable_cost = response.data.variable_cost ?? "-";
              this.var_cost = response.data.var_cost ?? "-";
              // this.rumus_total = response.data.rumus_total ?? "-";

              // var alokasi = this.belanja_total_numb;
              axios.get("http://139.180.219.157/asb/api/public/index.php/kegiatantable/?key=$2y$10$AnZ411EfYcBHTEMMYbXni.7HuKm5nf4fCleVEKMPs9dsDRKlrLCPu").then(rsp => {
                  // var i=2;
                  // for(var rs in rsp.data) {

                  // // var rata = +alokasi * +this.rata_rata / 100;
                  // // this.item_rata_rata = this.numberWithCommas(rata);
                  // // var bawah = +alokasi * +this.batas_bawah / 100;
                  // // this.item_batas_bawah = this.numberWithCommas(bawah);
                  // // var maksimal = +alokasi * +this.batas_maksimal / 100;
                  // // this.item_batas_maksimal = this.numberWithCommas(maksimal);
                  //    const data = {
                  //     no: i++,
                  //     kode_objek_belanja: rsp.kode_kegiatan,
                  //     objek_belanja: rsp.nama_kegiatan,
                  //     rata_rata: this.numberWithCommas(0),
                  //     batas_maksimal: this.numberWithCommas(0),
                  //     rencana_alokasi: this.numberWithCommas(0),
                  //   };
                  //   datas.push(data);
                  // }
                  // this.data_table = rsp.data;
                  // alert(datas);
              });
            })
        },
        onChangeItem(event) {
          const url2 = "http://139.180.219.157/asb/api/public/index.php/get_standar_belanja/"+this.select_item+"?key=$2y$10$AnZ411EfYcBHTEMMYbXni.7HuKm5nf4fCleVEKMPs9dsDRKlrLCPu";
            axios.get(url2).then(response => {
              // alert(response-.data);
              this.kode_objek_belanja = response.data.kode_standar_belanja ?? "-";
              this.objek_belanja = response.data.nama_standar_belanja ?? "-";
              this.rata_rata = response.data.rata_rata ?? "-";
              this.batas_maksimal = response.data.batas_atas ?? "-";
              this.batas_bawah = response.data.batas_bawah ?? "-";
              var alokasi = this.belanja_total_numb;
              var rata = +alokasi * +this.rata_rata / 100;
              this.item_rata_rata = this.numberWithCommas(rata);
              var bawah = +alokasi * +this.batas_bawah / 100;
              this.item_batas_bawah = this.numberWithCommas(bawah);
              var maksimal = +alokasi * +this.batas_maksimal / 100;
              this.item_batas_maksimal = this.numberWithCommas(maksimal);
            })
        },
        searchevents2: function(){
          var searchRegex = new RegExp(this.select_asb,'i')
          return this.standar_belanja.filter(event => 
            !this.select_asb || searchRegex.test(event.id_standar_belanja))
        }
    }
  })
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
  <script>
  function printPdf(){
    // var opt = {
    //     margin: [10, 10, 20, 10],
    //     filename: 'batas_alokasi.pdf',
    //     image: {type: 'jpeg', quality: 1},
    //     html2canvas: {dpi: 192, letterRendering: true},
    //     jsPDF: {unit: 'mm', format: 'letter', orientation: 'portrait'},
    // };
    // var element = document.getElementById('list_jenis');
    // html2pdf().set(opt).from(element).toPdf().save();

    // new TableExport(document.getElementById("list_jenis"));
    $("#list_jenis").table2excel({
        name: "Worksheet Name",
        filename: "batas_alokasi.xls", // do include extension
        preserveColors: false // set to true if you want background colors and font colors preserved
    });
  }

</script>

</body>

</html>